.RampUpContainer {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  border: 1px solid black;
}
.RampUpHeader {
  height: 170px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}
#Stud {
  margin-top: -20px;
}
.RampUpBody {
  min-height: 300px;
  height: fit-content;
  width: 100%;
  border: 1px solid black;
}

.logout {
  float: right;
  margin-right: 30px;
  margin-top: -10px;
}

#logoutBtn {
  background-color: red;
}

.userName {
  float: left;
  margin-left: 20px;
  margin-top: -10px;
}
